cloudpickle==3.1.2
exceptiongroup==1.3.1
scikit-learn==1.6.1
python-rapidjson==1.22
tyro==1.0.10
huggingface_hub==0.36.2
pyasn1==0.6.2
grpcio==1.67.1
nvidia-cudnn-cu12==9.10.2.21
regex==2026.1.15
nvidia-nvtx-cu12==12.8.90
tiktoken==0.12.0
tqdm==4.67.1
tritonclient==2.64.0
mkl_random==1.2.8
pandas==2.3.3
nvidia-cublas-cu12==12.8.4.1
Pygments==2.20.0
pycparser==2.23
onnxscript==0.5.6
threadpoolctl==3.6.0
scipy==1.13.1
SQLAlchemy==2.0.48
platformdirs==4.4.0
nvidia-cuda-runtime-cu12==12.8.90
databricks-sdk==0.97.0
numexpr==2.10.1
fonttools==4.60.1
pydantic==2.12.4
requests==2.32.5
zope.interface==8.0.1
setuptools==80.9.0
blinker==1.9.0
cffi==2.0.0
mkl_fft==1.3.11
perf_analyzer==0.1.0
zope.event==6.0
typeguard==4.5.1
maturin==1.12.6
MarkupSafe==3.0.3
tensorrt_cu13_bindings==10.14.1.48.post1
wget==3.2
msgspec==0.20.0
simsimd==6.5.3
tomli==2.4.0
python-dateutil==2.9.0.post0
humanfriendly==10.0
contourpy==1.3.0
typing_extensions==4.15.0
mdurl==0.1.2
albucore==0.0.24
async-timeout==5.0.1
annotated-types==0.7.0
unsloth==2026.1.2
sentry-sdk==2.57.0
frozenlist==1.8.0
boto3==1.42.64
multidict==6.7.0
NO_parking_detection==0.0.3
stringzilla==4.2.3
google-auth==2.49.0
coloredlogs==15.0.1
markdown-it-py==3.0.0
gunicorn==23.0.0
joblib==1.5.2
nvidia-cusparse-cu12==12.5.8.93
Werkzeug==3.1.6
lmdb==1.7.5
mlflow-skinny==3.1.4
ultralytics==8.4.16
httpx==0.28.1
nvidia-nvjitlink-cu12==12.8.93
graphene==3.4.3
multiprocess==0.70.16
h11==0.16.0
torchvision==0.23.0
torchao==0.16.0
botocore==1.42.64
certifi==2025.10.5
tensorrt_cu13_libs==10.14.1.48.post1
click==8.1.8
dill==0.4.0
cryptography==46.0.5
nvidia-cuda-runtime==13.1.80
cuda-toolkit==13.1.0
tzdata==2025.2
tokenizers==0.22.2
geventhttpclient==2.3.7
opentelemetry-sdk==1.40.0
rich==14.3.3
wandb==0.25.1
wheel==0.45.1
mlflow==3.1.4
lap==0.5.12
datasets==4.3.0
onnxslim==0.1.74
safetensors==0.7.0
peft==0.17.1
nvidia-cusolver-cu12==11.7.3.90
polars-runtime-32==1.35.2
six==1.17.0
pip==25.2
xformers==0.0.32.post2
hf-xet==1.4.2
nvidia-nccl-cu12==2.27.3
Mako==1.3.10
mpmath==1.3.0
fire==0.7.1
gitdb==4.0.12
natsort==8.4.0
brotli==1.2.0
sentencepiece==0.2.1
bitsandbytes==0.48.2
docstring_parser==0.17.0
docker==7.1.0
opentelemetry-semantic-conventions==0.61b0
sqlparse==0.5.5
eval_type_backport==0.2.2
Flask==3.1.3
pillow==11.3.0
torch==2.8.0
itsdangerous==2.2.0
cycler==0.12.1
protobuf==5.29.5
ml_dtypes==0.5.4
onnxruntime==1.19.2
kiwisolver==1.4.7
greenlet==3.2.4
fsspec==2025.9.0
sympy==1.14.0
filelock==3.19.1
clip==1.0
accelerate==1.10.1
rustbpe==0.1.0
colorama==0.4.6
triton==3.4.0
annotated-doc==0.0.4
attrs==25.4.0
pyparsing==3.2.5
opencv-python==4.12.0.88
httpcore==1.0.9
nvidia-cuda-cupti-cu12==12.8.90
Jinja2==3.1.6
diffusers==0.36.0
pytz==2025.2
albumentations==2.0.8
jmespath==1.1.0
cachetools==6.2.6
gevent==25.9.1
nvidia-cufile-cu12==1.13.1.3
fastapi==0.128.8
ftfy==6.3.1
uvicorn==0.39.0
GitPython==3.1.46
charset-normalizer==3.4.4
nltk==3.9.2
psutil==7.1.3
graphql-core==3.2.8
graphql-relay==3.2.0
ultralytics-thop==2.0.18
transformers==4.57.3
flatbuffers==25.9.23
hf_transfer==0.1.9
pydantic_core==2.41.5
smmap==5.0.3
onnx-ir==0.1.12
starlette==0.49.3
tensorrt_cu13==10.14.1.48.post1
rsa==4.9.1
mkl-service==2.4.0
nvidia-curand-cu12==10.3.9.90
unsloth_zoo==2026.1.2
networkx==3.2.1
nvidia-cufft-cu12==11.3.3.83
packaging==25.0
termcolor==3.1.0
propcache==0.4.1
pyasn1_modules==0.4.2
aiohappyeyeballs==2.6.1
pyarrow==21.0.0
polars==1.35.2
xxhash==3.6.0
nvidia-cuda-nvrtc-cu12==12.8.93
anyio==4.12.1
zipp==3.23.0
idna==3.11
Bottleneck==1.4.2
onnx==1.19.1
yarl==1.22.0
alembic==1.16.5
wcwidth==0.5.3
importlib_metadata==8.7.0
PyYAML==6.0.3
typing-inspection==0.4.2
numpy==2.0.2
nvidia-cusparselt-cu12==0.7.1
aiosignal==1.4.0
matplotlib==3.9.4
s3transfer==0.16.0
importlib_resources==6.5.2
metaflow==2.19.20
urllib3==1.26.20
onnxruntime-gpu==1.19.2
aiohttp==3.13.3
opencv-python-headless==4.12.0.88
trl==0.24.0
opentelemetry-api==1.40.0
